# Download Neutron and Gamma Data

**Author:** Logan Schmidt

**Created:** 2019-06-07

**Last Updated:** 2019-06-07

**Purpose:**

This script was created as part of the effort to produce the **Schmidt, Rempe 2019 Water Content** manuscript. This script accesses the Neutron and Gamma survey data saved on the **NeutronandGammaMasterRaw** sheet on the CZO Goolge Drive and imports, processes, and saves the data as a single master csv file.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import gmtime, strftime
%matplotlib inline

### Download Google Sheet and Save Working and Back-up files

In [25]:
# identify google doc
docID = '10togb4X4NKoWeiDy9mOMUhQ9uaeZO9QtowZ_ykUjIrU'
# Create dataframe
df0 = pd.read_csv('https://docs.google.com/spreadsheets/d/' + docID + '/export?gid=0&format=csv')

In [26]:
# get current datetime to append to filename
datetime = strftime("%Y-%m-%d-%H%M-UTC", gmtime())

In [27]:
# Save *working file*
df0.to_csv('Data/NeutronandGammaMasterRaw.csv', index = False)
# Save time-stamped *back-up file*
df0.to_csv('Data/NeutronandGammaMasterRaw/Old/' + datetime + ' NeutronandGammaMasterRaw.csv', index = False)

# Read it in and check
pd.read_csv('Data/NeutronandGammaMasterRaw.csv',
                 sep=',',  skiprows = [1]).head()

,Site,Probe Model,Serial Number,Probe ID,Date,Time,Hole ID,Cable length (ft),Neutron Count (MD),Gamma Count (WD),Operator,Duration (s),Source
0,Rivendell,503,H340702152,3.0,8/16/2010,NaN,0,0,7558.0,NaN,2,25,503 Angelo Raw
1,Rivendell,503,H340702152,2.0,8/16/2010,NaN,0,0,7462.0,NaN,2,25,503 Angelo Raw
2,Rivendell,503,H340702152,3.0,8/16/2010,NaN,0,0,7462.0,NaN,2,25,503 Angelo Raw
3,Rivendell,503,H340702152,3.0,8/18/2010,NaN,0,0,7558.0,NaN,2,25,503 Angelo Raw
4,Rivendell,503,H340702152,2.0,8/18/2010,NaN,0,0,7546.0,NaN,2,25,503 Angelo Raw

### Processing

In [28]:
# replace empty time entries with the time '12:00'
df0['Time'].fillna('12:00', inplace = True)
# create a 'Datetime' vector from 'Date' and 'Time' vectors
df0['Datetime'] = pd.to_datetime(df0['Date'] + ' ' + df0['Time'])

In [29]:
# Save *working file*
df0.to_csv('Data/NeutronandGammaMasterProcessed.csv', index = False)
# Save time-stamped *back-up file*
df0.to_csv('Data/NeutronandGammaMasterProcessed/Old/' + datetime + ' NeutronandGammaMasterProcessed.csv', index = False)

# Read it in and check
pd.read_csv('Data/NeutronandGammaMasterProcessed.csv',
                 sep=',',  skiprows = [1]).head()

,Site,Probe Model,Serial Number,Probe ID,Date,Time,Hole ID,Cable length (ft),Neutron Count (MD),Gamma Count (WD),Operator,Duration (s),Source,Datetime
0,Rivendell,503,H340702152,3.0,8/16/2010,12:00,0,0,7558.0,NaN,2,25,503 Angelo Raw,2010-08-16 12:00:00
1,Rivendell,503,H340702152,2.0,8/16/2010,12:00,0,0,7462.0,NaN,2,25,503 Angelo Raw,2010-08-16 12:00:00
2,Rivendell,503,H340702152,3.0,8/16/2010,12:00,0,0,7462.0,NaN,2,25,503 Angelo Raw,2010-08-16 12:00:00
3,Rivendell,503,H340702152,3.0,8/18/2010,12:00,0,0,7558.0,NaN,2,25,503 Angelo Raw,2010-08-18 12:00:00
4,Rivendell,503,H340702152,2.0,8/18/2010,12:00,0,0,7546.0,NaN,2,25,503 Angelo Raw,2010-08-18 12:00:00